In [8]:
import os 
import yaml 
import random 
import pickle
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 

from tqdm import tqdm 

random.seed( 17 )

In [9]:
with open('user_input.yaml', 'r') as f:
    inputs = yaml.safe_load(f)
inputs

{'underlying': 'NSEFNO_BANKNIFTY',
 'exp': 'H25',
 'start_date': '20250315',
 'end_date': '20250319',
 'dt': 5,
 'parent_dir': '/data/NSE/bindata_indices/'}

In [10]:
from atm_data_lib.base import atm_data

In [11]:
query = atm_data( inputs )

In [12]:
query.dates_log_path

['/data/NSE/bindata_indices/20250317/bin_data_archival_20250317.log',
 '/data/NSE/bindata_indices/20250318/bin_data_archival_20250318.log',
 '/data/NSE/bindata_indices/20250319/bin_data_archival_20250319.log']

In [13]:
query.load_data()

Initiating Strike Gap Processing:

100%|████████████████████████████████████████████████████| 3/3 [00:01<00:00,  2.49it/s, Processing Strike Gap for 19-03-2025]

Initiating Main DataFrame Processing:

100%|█| 3/3 [02:16<00:00, 45.62s/it, Creating cache/20250319_NSEFNO_BANKNIFTY_H25_dt_5.pickel. This is a one time process ...

In [14]:
query.main_df

                         Spot  ATM_Strike      PE      CE
2025-03-17 09:16:01  48328.40     48300.0  482.22  494.01
2025-03-17 09:21:01  48424.52     48400.0  478.06  490.25
2025-03-17 09:26:01  48446.62     48400.0  457.75  501.82
2025-03-17 09:31:01  48505.08     48500.0  477.73  464.73
2025-03-17 09:36:01  48469.23     48500.0  490.53  455.73
...                       ...         ...     ...     ...
2025-03-19 15:06:01  49776.06     49800.0  411.75  374.41
2025-03-19 15:11:01  49805.05     49800.0  401.20  390.45
2025-03-19 15:16:01  49803.84     49800.0  407.57  394.41
2025-03-19 15:21:01  49804.80     49800.0  405.63  394.85
2025-03-19 15:26:01  49817.01     49800.0  396.03  401.32

[225 rows x 4 columns]